@import "../global.scss";


.projects{
  background-color: #222629 ;
  display: flex;
  flex-direction: column;
  align-items: center;


h1{
  font-size: 50px;

  @include mobile{
    font-size: 20px;
  }
}
ul{
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;

  @include mobile{
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
  }

}
.container-1{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;


@include mobile{
  width: 100%;
}
  .items{
    width: 700px;
    height: 700px;
    border-radius: 20px;
    bottom: 1px solid;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    transition: all 2s ease;
    cursor: pointer;

    @include mobile{
      width: 130px;
      height: 100px;
    }
    h3{
      position: absolute;
      font-size: 20px;
    }
    a{
        position: absolute;
        font-size: 20px;
        margin-top: 25px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      @include mobile{
        width: 50%;
        height: 50%;
        
      }
    }
    &:hover{
      img{
        opacity: 0.1;
        z-index: 0;
      }
    }
  }
}
}