@import "../global.scss";

h1{
  font-size: 50px;
  color: white;
}
.resume{
  background-color: #222629;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .arrow{
    height: 71px;
    position: absolute;
    cursor: pointer;

    @include mobile{
      display: none;
    }

    &.left{
      left: 300px;
      transform: rotate(180deg);
    }

    &.right{
      right: 300px;
    }
  }

  .slider{
    height: 500px;
    display: flex;
    position: absolute;
    left:0;

    @include mobile{
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container-3{
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .resumeitems{
        width: 700px;
        height: 100%;
        background-color: #222629;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 15px -8px white;

        @include mobile{
          width: 80%;
          height: 150px;
          margin: 15px 0;
        }
        
        .left-3{
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .left-3Container{
            width: 90%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include mobile{
              width: 100%;
              height: 100%;
            } 
            .imgclassContainer{
              width: 40px;
              height: 40px;
              background-color: black;
              display: flex;
              align-items: center;
              justify-content: center;
              @include mobile{
                width: 20px;
                height: 20px;
              } 
              img{
                width: 25px;
                height: 25px;
                border-radius: 100px;
                @include mobile{
                  width: 15px;
             
                } 
              }
            }
            h2{
              font-size: 30px;
              color: white;

              @include mobile{
                font-size: 15px;
              } 
            }
            p{
              font-size: 15px;
              color: white;
              @include mobile{
                display: none;
              } 
            }
            span{
              font-size: 20px;
              font-weight: 600;
              text-decoration: underline;
              color: white;
              @include mobile{
                font-size: 15px;
              }
            }
          }

        }
        .right-3{
          flex: 8;
          height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            img{
             width: 300px;
             border-radius: 80px; 
             @include mobile{
              width: 150px;
            }
            }
         
        }
      }
    }
  }
  
}