.app{
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x:hidden ;
}
.section{
  width: 100%;
  height: calc(100vh - 0px);
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.section > * {
  width: 100vw;
  height: calc(100vh - 0px);
  scroll-snap-align: start;
}
::-webkit-scrollbar{
  display: none;
}
